<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
    <link rel='stylesheet' href='/stylesheets/list.css' />
</head>
<body>
    <nav></nav>
    <div class="container">
        <div class="left">
            <ul>
                <li>
                    <a href="##" onclick="showList()">文章列表</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <table  class="table">
                <thead>
                    <tr>
                        <th>
                            编号
                        </th>
                        <th>
                            文章名称    
                        </th>
                        <th>
                            文章点击量
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody id="result">
                </tbody> 
                <% for(var i = 0 ; i < chapterList.length; i++) {%>
                    <tr>
                        <td>109</td>
                        <td><%= chapterList[i]["title"] %></td>
                        <td><%= chapterList[i]["views"] %></td>
                        <td>213</td>
                    </tr>
                <%}%>
            </table>
        </div>
    </div> 
</body>
</html>