<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="login">
        <div class="leftpart"></div>
        <div class="loginform">
            <form class="myform" action="/login" method="post">
                <input type="text" autocomplete="off" placeholder="帐号" class="el-input__inner"  id="username" name="username"/>
                <input type="password" autocomplete="off" placeholder="密码" class="el-input__inner"  id="pwd" name="pwd"/>
                <button type="submit" class="el-button login-btn-submit el-button--primary" id="login" value='submit'><!----><!----><span>登录</span></button>
            </form>
        </div>
    </div>
  </body>
</html>